<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
</head>
<body>
    <div id="main">
        <div class="header">
            <div class="container">
                <div class="header__logo" style="cursor: default;">
                    <h3>slvnv</h3>
                </div>
                <div class="header__menu">
                    <a href="home.html">Home</a>
                    <a href="posts.html">Posts</a>
                    <a href="music.html">Music</a>
                    <a href="about.html">About me</a>
                </div>
                <div class="header__search">
                    <input type="text" placeholder="Search" class="search-input">
                </div>
                <div class="header__buttons">
                    <div class="header__buttons__signin">
                        <a href="#"><button>Sign in</button></a>
                    </div>
                    <div class="header__buttons__signup">
                        <a href="#"><button>Sign up</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="container">
                <div class="login">
                    <div class="login__title">Login for <br>this website</div>
                    <div class="login__subtitle">If you already have an account, simply log in by entering your details.</div>
                    <div class="login__fields">
                        <div class="login__fields__username">
                            <input type="text" name="username" placeholder="Username">
                        </div>
                        <div class="login__fields__passowrd">
                            <input type="passowrd" name="password1" placeholder="Passowrd">
                        </div>
                    </div>
                    <div class="login__buttons">
                        <button class="login__btn" type="submit">Login in account</button>
                        <p class="linktext">You don't have account? <a href="#" class="linktext">Register</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>