<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLVNV website</title>
    <link rel="stylesheet" href="{% static 'myblog/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
</head>
<body>
    <div id="main">
    {% include 'myblog/complex/_navbar.html' %}
        {% block content %}

        {% endblock content %}

        <div class="footer__home">
            <div class="container">
                <div class="left__text"><a href="#">GitHub this website link</a></div>
                <div class="right__text">Programming and deisgn create by Yaroslav Selivanov</div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
            integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'myblog/js/script.js' %}"></script>
    </div>
</body>
</html>